<link rel="stylesheet" href="utilitarios/css/nav.css">
<nav class="navbar">
    <div class="navbutton">
        <button onclick="sideOpen()"><img src="utilitarios/imgs/menu.png"></button>
    </div>
    <div class="navheader">
        <h1 class="navtitle">C</h1>
        <h1 class="navtitle">a</h1>
        <h1 class="navtitle">l</h1>
        <h1 class="navtitle">l</h1>
        <h1 class="navtitle">i</h1>
        <h1 class="navtitle">m</h1>
        <h1 class="navtitle">o</h1>
    </div>
    <div id="sidebar" class="sidebar off" style="display: none;">
        <div>
            <button class="sidebutton" onclick="sideClose()"><img src="utilitarios/imgs/menu.png"></button>
        </div>
</nav>