<nav id="sidebar" class="sidebar">
    <div class="sideheader">
        <h1 class="sidetitle">C</h1>
        <h1 class="sidetitle">a</h1>
        <h1 class="sidetitle">l</h1>
        <h1 class="sidetitle">l</h1>
        <h1 class="sidetitle">i</h1>
        <h1 class="sidetitle">m</h1>
        <h1 class="sidetitle">o</h1>
        <div class="sidebutton">
            <button onclick="SideClose()"><img src="utilitario/imgs/menu.png"></button>
        </div>
    </div>
    <div>
        <a class="sidelink" href="">Teste</a>
    </div>
</nav>