@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poetsen+One&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.sidebar {
    font-size: 30px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding: 2vh 3vh 2vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #262027;
    position: sticky;
    left: 0px;
    width: 30vh;
    height: 96vh;
    color: rgb(0, 255, 98);
    transition: 300ms, ease-in-out;
    z-index: 2;
}

.sidelink {
    text-decoration: none;
}

.sidelink:visited {
    color: rgb(0, 255, 98);
}

.sidelink:hover {
    color: rgb(0, 129, 50);
}

.sidetitle {
    font-size: 50px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(0, 255, 98);
}

.sidetitle:hover {
    color: rgb(0, 129, 50);
}

.sidebutton {
    position: absolute;
    right: 13px;
    top: 12px;
}

.sidebutton button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.sidebutton img {
    max-width: 4vw;
    background-color: rgba(0, 0, 0, 0);
}

.sideheader {
    display: flex;
    flex-direction: row;
    padding: 2vh 0vh 15vh 0vh;
}

.sideheader:hover {
    cursor: default;
}

.navbar {
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0vh;
    display: flex;
    background: #262027;
    align-items: center;
    z-index: 1;
}


.navlogo {
    font-size: 30px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    align-items: center;

}

.navbutton {
    position: absolute;
    left: 13px;
    top: 1rem;
}

.navbutton button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.navbutton img {
    max-width: 4vw;
    background-color: rgba(0, 0, 0, 0);
}

.corpo-principal {
    position: absolute;
    width: 100vw;
    height: 100vh;
}